@import 'predefinied.scss';
@import 'header.scss';

body {
    font-family: 'Kelson-Sans-RU', sans-serif;
    color: $dark;
    overflow-x: hidden;
    // font-family: 'Anton', sans-serif;
}

.main {
    padding-top: 173px;
}

.owl {
    &-arrow {
        background: none;
        border: none;
        outline: none;

        &:hover {
            outline: none;
            background: none;
            border: none;
        }

        svg {
            transition: $durationM;
        }

        &:active {
            svg {
                transform: scale(0.8);
            }
        }

        &:focus {
            outline: none;
        }

        &-container {
            display: flex;
            justify-content: flex-end;
            margin-top: -210px;
            position: relative;
            max-width: 100px;
            z-index: 3;
            margin-left: auto;
        }
    }

    &-prev {
        transform: rotate(90deg) translate(-38px, -15px);

        svg {
            width: 30px;
            height: 30px;
        }

        svg path {
            fill: $grey-3;
        }
    }

    &-next {
        transform: rotate(-90deg);

        svg {
            width: 59px;
            height: 59px;
        }

        svg path {
            fill: $yellow-dark;
        }
    }
}

.hero {

    &__yellow-splash,
    &__xd,
    &__cut {
        width: 100%;
        height: 100%;
        position: absolute;
        bottom: 0;
        left: 0;
        background: url('../images/MainImg.svg');
        background-size: contain;
        background-position: center bottom;
        background-repeat: no-repeat;
    }

    &__xd {
        // transform: rotate(30deg);
        background: url('../images/mainXD.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom;
        transform: scale(1.2) rotate(-6.9deg) translateY(-83px) translateX(18px);
        z-index: 1;
        max-height: 100vh;
    }

    &__cut {
        // transform: rotate(30deg);
        background: url('../images/threeFourCutMainImg.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-position: bottom left;
        z-index: 1;
        height: 100%;

        q &::after {
            position: absolute;
            background: white;
            bottom: -50px;
            left: 0;
            content: '';
            z-index: 1;
            height: 50px;
            width: 100%;
        }
    }

    &__carousel {
        position: relative;
        z-index: 1;
    }

    &__img {
        margin-bottom: -20px;
        display: initial !important;
        width: initial !important;
        max-height: 100vh;
    }

    &__text-carousel {

        &.owl-carousel,
        .owl-stage-outer,
        .owl-stage,
        .owl-item {
            height: 100%;
        }

        &.owl-carousel .owl-item {
            display: flex;
            justify-content: center;
        }
    }

    &__text-carousel-item {
        display: flex;
        flex-direction: column;
        place-items: flex-start;
        justify-content: center;
        max-width: 600px;
    }

    &__heading {
        font-weight: bold;
        font-size: $fontSizeH1;
    }

    &__subheading {
        font-size: $fontSizeBodyL;
        margin: 1rem 0 4rem 0;
    }
}

.products {


    &__carousel {
        max-width: 1400px;
        margin: auto;
        border-radius: 1.25rem;
        padding: 2rem;
        border: 8px solid transparent;
        margin-top: calc(-2rem - 8px);
        //minus margin -top because of transparent here but borders on the blue and red containers
    }

    .owl-arrow-container {
        justify-content: center;
        margin: auto;
        margin-top: calc(50px - 2rem - 8px - 1rem - 4px);
    }

    &__subheading,
    &__heading {
        text-align: center;
    }

    &__subheading {
        font-size: $fontSizeH3;
    }

    &__heading {
        font-size: $fontSizeH2;
        font-weight: bold;
    }

    .nav-pills {
        justify-content: center;
    }

    .nav-link {
        background: $grey-light;
        color: $dark;
        border: none;
        position: relative;
        overflow: hidden;
        border-radius: 200px;
        margin: 1rem;
        font-weight: bold;
        padding: 0.5rem 1.5rem;

        span {
            position: relative;
            z-index: 2;
        }

        &:hover,
        &:active,
        &:focus,
        &:not(:disabled):not(.disabled):active,
        &:not(:disabled):not(.disabled):focus,
        &:not(:disabled):not(.disabled):active:focus {
            background: $grey-light;
            color: $dark;
            border: none;
            box-shadow: none;
        }

        &:not(:disabled):not(.disabled):active {
            transform: scale(0.95);
        }

        &.active {

            background: $yellow-dark;
            color: black;

            &:hover,
            &:active,
            &:focus,
            &:not(:disabled):not(.disabled):active,
            &:not(:disabled):not(.disabled):focus,
            &:not(:disabled):not(.disabled):active:focus {
                background: $yellow-dark;
                color: $dark;
                border: none;
                box-shadow: none;
            }
        }
    }

    &__item-container {
        padding: 8px;
        border: 2px solid transparent;
        border-radius: 1rem;
        transition: $durationS;
        max-width: 320px;
        margin: auto;
        overflow-y: hidden;

        &:hover {
            border-color: $yellow-dark;
        }
    }

    &__goto-product {
        &:hover {
            .products__click-info {
                top: 1.5rem;
            }
        }
    }

    &__extra {
        bottom: 0.75rem;
        left: 0.75rem;
        position: absolute;

        &-red {
            background: $red;
            color: white;

            &:hover {
                color: white;
                background: $red;
            }
        }

        &-yellow {
            background: $yellow;
            color: black;
        }
    }

    &__click-info {
        font-weight: bold;
        background: black;
        color: white;
        padding: 0.5rem 1rem;
        display: block;
        position: absolute;
        border-radius: 0.6rem;
        top: -5rem;
        font-size: 0.8rem;
        left: 50%;
        transform: translateX(-50%);
        text-align: center;
        width: calc(100% - 3rem);
        transition: $durationM;
        z-index: 2;
    }

    &__img-container {
        border: 1px solid $grey-light;
        border-radius: 1rem;
        padding: 2rem;
        position: relative;
        z-index: 1;
    }

    &__img {
        max-width: 180px;
        max-height: 180px;
        margin: auto;
    }

    &__content {
        padding: 1rem 1rem;
        display: block;
    }

    &__category {
        font-size: $fontSizeBodyXS;
        color: $grey-2;

        span {
            color: $dark;
        }
    }

    &__description {
        color: $dark;
        font-size: $fontSizeBodyXS;
    }

    &__price {
        display: flex;
        align-items: flex-end;
        margin-top: 1rem;

        &-now {
            font-size: $fontSizeH3;
            font-weight: bold;
            margin-bottom: -10px;
            color: $dark;
        }

        &-old {
            margin: 0 0.5rem;
            font-size: $fontSizeBodyM;
            position: relative;
            margin-bottom: -7px;
            color: black;

            &::after {
                content: '';
                background: black;
                height: 2px;
                border-radius: 200px;
                width: 90%;
                left: 5%;
                top: 40%;
                position: absolute;
                transform: rotate(30deg);

            }
        }
    }

    &__add {
        margin-left: 1rem;

        svg {
            z-index: 2;
            position: relative;
        }
    }

    &--blue {

        .nav-link {
            &.active {

                background: $lightBlue;
                color: white;

                &:hover,
                &:active,
                &:focus,
                &:not(:disabled):not(.disabled):active,
                &:not(:disabled):not(.disabled):focus,
                &:not(:disabled):not(.disabled):active:focus {
                    background: $lightBlue;
                    color: white;
                }
            }
        }



        .tab-pane {
            .products {

                &__carousel {
                    border: 8px solid $lightBlue;
                    margin-top: 0;
                }

                &__item-container {
                    &:hover {
                        border-color: $lightBlue;
                    }

                    a:hover {
                        color: $lightBlue;
                    }
                }
            }

            a.products__add {
                background: $lightBlue;
                color: white;

                &::after,
                &::before {
                    content: '';
                }

                svg {
                    path {
                        fill: white;
                    }
                }

                &:hover {
                    background: $blue;

                    color: white;

                }
            }

            .toggle-favourite {
                svg path {
                    stroke: $lightBlue;
                }

                &.added svg path {
                    stroke: transparent;
                    fill: $lightBlue;
                }

                &:hover {
                    svg path {
                        fill: $lightBlue;
                    }
                }
            }

        }

        .owl-arrow-container {
            margin-top: 36px;
        }

        .owl-next svg path {
            fill: $lightBlue;
        }
    }


    &--red {

        .nav-link {
            &.active {

                background: $red;
                color: white;

                &:hover,
                &:active,
                &:focus,
                &:not(:disabled):not(.disabled):active,
                &:not(:disabled):not(.disabled):focus,
                &:not(:disabled):not(.disabled):active:focus {
                    background: $red;
                    color: white;
                }
            }
        }



        .tab-pane {
            .products {

                &__carousel {
                    border: 8px solid $red;
                    margin-top: 0;
                }

                &__item-container {
                    &:hover {
                        border-color: $red;
                    }

                    a:hover {
                        color: $red;
                    }
                }
            }

            a.products__add {
                background: $red;
                color: white;

                &::after,
                &::before {
                    content: '';
                }

                svg {
                    path {
                        fill: white;
                    }
                }

                &:hover {
                    color: white;
                    background: darken($color: $red, $amount: 10%);
                }
            }

            .toggle-favourite {
                svg path {
                    stroke: $red;
                }

                &.added svg path {
                    stroke: transparent;
                    fill: $red;
                }

                &:hover {
                    svg path {
                        fill: $red;
                    }
                }
            }

        }

        .owl-arrow-container {
            margin-top: 36px;
        }

        .owl-next svg path {
            fill: $red;
        }
    }
}

.toggle-favourite {
    padding: 0;
    transition: $durationS;

    svg {
        height: 36px;
        width: auto;

        path {
            transition: $durationS;
            fill: transparent;
            stroke: $yellow-dark;
        }
    }

    &:hover {
        svg path {
            fill: $yellow-dark;
            stroke: transparent;
        }
    }

    &.added {
        svg path {
            fill: $yellow-dark;
            stroke: transparent;
        }

        &:hover {

            transform: scale(1.2);
            // svg path {
            //     fill: white;
            //     stroke: $yellow-dark;
            // }
        }
    }

    &:active {
        transform: scale(0.8);
    }
}

@media (min-width:1700px) {
    .products {
        &__carousel {
            max-width: initial;
        }
    }
}