@import 'style.scss';

.product {
    p {
        max-width: 800px;
    }

    .owl-carousel .owl-stage {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__img {
        object-fit: contain;
    }


    &__item {
        display: flex;
    }

    &__big-carousel {
        margin-bottom: 10px;

        .product {
            &__item {
                border-radius: 1.25rem;
                border: 6px solid $yellow-dark;
                height: 400px;
                padding: 1rem;
                overflow: hidden;
            }

        }
    }

    &__small-carousel {
        .product {
            &__item {
                border-radius: 1rem;
                border: 2px solid $grey-light;
                height: 100px;
                padding: 0.5rem;
                transition: $durationS;
            }
        }

        .owl-stage {
            &:hover {
                cursor: grab;
            }
        }

        .owl-item {
            &:hover {
                cursor: pointer;
            }

            &.current {
                .product__item {
                    border-color: $yellow-dark;
                }
            }
        }
    }

    &__highlighted {
        display: inline-block;
        color: $red;
        border-radius: 1rem;
    }

    &__color {
        height: 1rem;
        width: 1rem;
        margin: 0 0.25rem;
        position: relative;

        &.active {
            border: none;

            &::after {
                border: 2px solid black;
                border-radius: 50%;
                width: calc(100% + 8px);
                height: calc(100% + 8px);
                top: -4px;
                left: -4px;
                content: '';
                position: absolute;
            }
        }
    }

    &__price {
        font-weight: bold;
        font-size: $fontSizeH2;
        color: $yellow-dark;
    }

    .table {
        max-width: 800px;

        thead th {
            border-top: none;
        }

        thead tr {
            background: $light;
        }
    }

    @media (max-width:600px) {}
}

.products-grid {
    &__filters {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }

    &__search {
        &-input {
            border: none;
            background: transparent;
            // color: white;
            font-size: $fontSizeBodyXS;
            font-family: 'Kelson-Sans-RU', sans-serif;
            padding-bottom: 0;
            line-height: 0.9;
            transition: $durationM;
            width: 170px;
            padding-left: 1rem;
            overflow: hidden;

            &:focus {
                border: none;
                outline: none;
                box-shadow: none;
                width: 170px;
                padding-left: 1rem;
            }

            &::placeholder {
                // color: white;
                color: $dark;
            }

        }

        &-submit {
            margin-left: -2px;
            transition: $durationM;

            svg path {
                fill: $dark;
                transition: $durationM;
            }

            &:hover {
                transform: scale(1.2);
                outline: none;
                box-shadow: none;

                svg path {
                    fill: $yellow-dark;
                }
            }

            &:active {
                transform: scale(0.9);
                outline: none;
                box-shadow: none;
            }
        }

        &-form {
            display: inline-flex;
            align-items: center;
            box-shadow: $regularShadow;
            border-radius: 200px;
            padding: 0.75rem;
            background: white;
            transition: $durationM;
        }
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, 256px);
        gap: 1.5rem;
        grid-auto-flow: dense;
        justify-content: center;
    }

    .select2 {
        &-container {
            margin-left: 1rem;
            min-width: 200px;
        }

    }

    .select2-container--default .select2-selection--multiple {
        border: none;
        border-radius: 200px;
        padding: 0.75rem 1.5rem;
        box-shadow: $regularShadow;
        width: 200px;
        height: 50px;
        cursor: pointer;
    }

    .select2-container--default.select2-container--open.select2-container--below .select2-selection--single,
    .select2-container--default.select2-container--open.select2-container--below .select2-selection--multiple {

        border-radius: 200px;
    }

    .select2-container--default .select2-search--inline .select2-search__field {
        margin: 0;
        vertical-align: middle;
        outline: none !important;
    }

    .select2-container .select2-search--inline .select2-search__field {
        // height: 20px;
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        line-height: 1.2;
        cursor: pointer;
    }

    .select2-container .select2-selection--multiple .select2-selection__rendered {
        max-height: 26px;
        margin: 0;
        display: flex;
        overflow: hidden;
        transform: translateY(3px);
        cursor: pointer;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice {
        background: none;
        color: black;
        margin: 0;
        background: none;
        color: black;
        margin: 0;
        border: none;
        padding-left: 0;

        &::after {
            content: ',\00a0';
        }
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__display {
        padding: 0;
        font-size: $fontSizeBodyXS;
        cursor: pointer;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice__remove {
        display: none;
    }

    // .select2-container--open {
    //     .select2-selection--multiple {
    //         height: 300px;
    //     }
    // }
}

.pagination {
    display: flex;
    position: relative;
    max-width: 100px;
    height: 70px;
    z-index: 3;
    justify-content: flex-end;
    margin: auto;

    &__prev,
    &__next {
        top: 0;
        // transform: translateY(calc(-50% - 75px));
        padding: 0.75rem 0.45rem !important;
        display: flex;
        align-items: center;
        justify-content: center;
        left: -1rem;
        position: absolute;
        transition: $durationM;
        border: 0;
        background: transparent;

        svg {
            width: 30px;
            height: 30px;
            transform: rotate(90deg);

            path {
                fill: $grey-3;
            }
        }

        span {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            background: url('../images/next.svg');
            transform: rotateZ(180deg);
            z-index: 1;
            position: relative;
            color: transparent;
            width: 32px;
            height: 32px;
            display: block;
        }

        // &::before {
        //     content: '';
        //     background: black;
        //     width: 100%;
        //     height: 100%;
        //     top: 0;
        //     left: 0;
        //     z-index: -1;
        //     position: absolute;
        // }

        &:focus {
            box-shadow: none;
            outline: none;
            border: none;
        }

        &:active {
            transform: scale(0.695);
        }
    }

    &__next {
        left: initial;
        background: url('../images/next.svg');

        svg {
            height: 59px;
            width: 59px;
            transform: rotate(-90deg);

            path {
                fill: $yellow-dark;
            }
        }


        span {
            transform: rotateZ(0);
        }

    }
}

span.select2-dropdown.filters__select-container.select2-dropdown--below {
    width: 200px !important;
    border-radius: 1.5rem;
    border: none;
    box-shadow: $regularShadow;
    transform: translateY(0.5rem);
    // z-index: 1;

    .select2-results__option {
        border-radius: 1.5rem;
        font-size: $fontSizeBodyXS;
        padding: 0.25rem 0.75rem;
        margin: 0.25rem 0;
    }
}

.select2-container--default {

    .filters__select-container {
        .select2-results__option--selected {
            background-color: $yellow;
            color: black;
            font-weight: bold;
        }

        .select2-results__option--highlighted.select2-results__option--selectable {
            background-color: lighten($color: $yellow, $amount: 20%);
            color: black;
        }

        .select2-results>.select2-results__options {
            overflow: visible;
            max-height: initial;
            padding: 1rem;
        }
    }
}

.big-cart {
    &__list {
        flex-grow: 10;
    }

    &__delivery,
    &__payment {
        background: $grey-light;
        padding: 2rem;
        border-radius: 1.25rem;
        color: black;

        &-item {
            max-width: 172px;
            margin-right: 0.5rem;

            .img-fluid {
                height: 40px;
                width: auto;
                object-fit: contain;
            }

            user-select: none;
            position: relative;

            input {
                position: absolute;
                opacity: 0;
                cursor: pointer;
                height: 0;
                width: 0;

                &:checked {
                    &~.checkmark {
                        border-color: $yellow-dark;
                    }
                }
            }

            .checkmark {
                border: 1px solid transparent;
                padding: 1rem;
                border-radius: 1rem;
                cursor: pointer;
                transition: $durationXS;

                &:hover {
                    border-color: $grey-3;
                }
            }





        }
    }

    &__item {
        display: flex;
        align-items: center;
        border-bottom: 1px solid $grey-3;
    }

    &__img {
        object-fit: contain;
        max-width: 250px;
        max-height: 250px;

        &-container {
            // width: 250px;
            // height: 250px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    &__content {
        margin-left: 2rem;
        padding: 1.5rem 0;
    }

    &__color {
        width: 0.8rem;
        height: 0.8rem;
        display: inline-block;
        margin-bottom: -1px;
    }

    &__summary {
        padding: 3rem 2rem;
        width: 415px;
        max-width: 100%;
        background: $yellow;

        &-item {
            display: flex;
            justify-content: space-between;
            border-bottom: 1px solid rgba(0, 0, 0, 0.12);
            padding-bottom: 0.5rem;
            margin-bottom: 1.5rem;
            align-items: center;
        }
    }
}

.order {
    &__data {
        flex-grow: 10;
        display: flex;
        flex-direction: column;
    }

    &__grid {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
        gap: 2rem;
        grid-auto-flow: dense;
        justify-content: center;
    }
}

.form-group {
    margin-bottom: 0;

    .form-label {
        margin-bottom: 0;
        font-size: $fontSizeBodyXS;
        color: black;
        margin-left: 1.5rem;
    }

    .form-control {
        border-radius: 200px;
        padding: 0.5rem 1.25rem;
        border: none;
        box-shadow: $regularShadow;
        font-size: 0.9rem;
        border: 1px solid transparent;
        transition: $durationXS;

        &:focus {
            border-color: $yellow;
        }

    }

    textarea.form-control {
        border-radius: 1.25rem;
    }

    .form-text {
        margin-left: 1rem;
        margin-right: 1rem;
    }
}

.checkbox-container {
    margin-right: 0.5rem;
    user-select: none;
    position: relative;
    display: flex;
    align-items: center;

    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;

        &:checked {
            &~.checkmark {
                border-color: $yellow-dark;


                &::after {
                    content: '';
                    width: 1rem;
                    height: 1rem;
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-size: contain;
                    background-position: center;
                    background-repeat: no-repeat;
                    background-image: url('../images/check-mark.svg');
                }
            }
        }
    }

    .checkmark {
        border: 1px solid $grey-3;
        height: 2rem;
        width: 2rem;
        display: block;
        border-radius: 50%;
        cursor: pointer;
        transition: $durationXS;
        box-shadow: $regularShadow;
        position: relative;
    }





}

@media (max-width:600px) {
    .products-grid {
        &__grid {
            display: block;
        }

        .products {
            &__item-container {
                max-width: 100%;
            }

            &__goto-product {
                display: flex;
            }

            &__img-container {
                max-width: 110px;
                padding: 0.25rem;
            }

            &__img {
                object-fit: contain;
                width: 100%;
                height: 100%;
            }

            &__buttons {
                justify-content: flex-start !important;
                margin-top: 1rem;
            }

            &__add {
                margin-left: 0;
            }
        }
    }
}

@media (max-width:900px) {
    .big-cart {
        .heading-3 {
            font-size: $fontSizeBodyL;
        }

        .heading-2 {
            font-size: $fontSizeH3;
        }

        &__img {
            max-width: 100px;
        }
    }
}